LOCAL_DATA_PATH=path/to/raw_data
LOCAL_REGISTRY_PATH=path/to/training_outputs

DATASET_SIZE=10k
VALIDATION_DATASET_SIZE=10k
CHUNK_SIZE=100000

DATA_SOURCE=cloud
MODEL_TARGET=mlflow

# GCP Project
PROJECT=on-chain-analytics-ethap
DATASET=ethap_transactions

# Ethereum BigQuery public data
PUBLIC_PROJECT=bigquery-public-data
PUBLIC_DATASET=crypto_ethereum

# Cloud Storage
BUCKET_NAME=ethap-bucket
BLOB_LOCATION=data

# BigQuery
MULTI_REGION=EU
REGION=europe-west1

# GCloud Credentials
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/credentials.json

# Model Lifecycle
MLFLOW_TRACKING_URI=https://mlflow.lewagon.ai
MLFLOW_EXPERIMENT="ETHAP_experiment"
MLFLOW_MODEL_NAME="ETHAP_K_MEAN"
